docs/n2cms.configuration.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://n2cms.com/schemas/configuration/v3" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://n2cms.com/schemas/configuration/v3" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:complexType name="namedElement">
		<xs:attribute name="name" type="xs:string" use="required" />
	</xs:complexType>

	<xs:complexType name="containableElement">
		<xs:attribute name="name" type="xs:string" use="required" />
		<xs:attribute name="type" type="xs:string" use="required" />
		<xs:attribute name="containerName" type="xs:string" />
		<xs:attribute name="sortOrder" type="xs:int" />
		<xs:anyAttribute />
	</xs:complexType>

	<xs:complexType name="permissionElement">
		<xs:attribute name="dynamic" type="xs:boolean" use="optional" />
		<xs:attribute name="users" type="xs:string" use="optional" />
		<xs:attribute name="roles" type="xs:string" use="optional" />
	</xs:complexType>

	<xs:element name="n2">
		<xs:complexType>
			<xs:all>
				<xs:element name="host">
					<xs:complexType>
						<xs:all>
							<xs:element name="sites" minOccurs="0">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="add" maxOccurs="unbounded">
											<xs:complexType>
												<xs:all>
													<xs:element name="settings" minOccurs="0">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="add" maxOccurs="unbounded">
																	<xs:complexType>
																		<xs:attribute name="key" type="xs:string" use="required" />
																		<xs:attribute name="value" type="xs:string" use="required" />
																	</xs:complexType>
																</xs:element>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
													<xs:element name="uploadFolders" minOccurs="0">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="clear" minOccurs="0" maxOccurs="1"/>
																<xs:element name="add" maxOccurs="unbounded">
																	<xs:complexType>
																		<xs:attribute name="path" type="xs:string" use="required" />
																	</xs:complexType>
																</xs:element>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
												</xs:all>
												<xs:attribute name="id" type="xs:integer" use="required" />
												<xs:attribute name="name" type="xs:string" use="required" />
												<xs:attribute name="wildcards" type="xs:boolean" use="optional" />
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="web" minOccurs="0">
								<xs:complexType>
									<xs:all>
										<xs:element name="urls" minOccurs="0">
											<xs:complexType>
												<xs:all>
													<xs:element name="nonRewritable" minOccurs="0">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="remove" minOccurs="0" type="tns:namedElement" />
																<xs:element name="add" minOccurs="0">
																	<xs:complexType>
																		<xs:attribute name="name" type="xs:string" use="required"/>
																		<xs:attribute name="virtualPath" type="xs:string" use="required"/>
																	</xs:complexType>
																</xs:element>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
												</xs:all>
												<xs:attribute name="enableCaching" type="xs:boolean" use="optional" />
											</xs:complexType>
										</xs:element>
									</xs:all>
									<xs:attribute name="extension" type="xs:string" use="optional" />
									<xs:attribute name="pageQueryKey" type="xs:string" use="optional" />
									<xs:attribute name="itemQueryKey" type="xs:string" use="optional" />
									<xs:attribute name="partQueryKey" type="xs:string" use="optional" />
									<xs:attribute name="isWeb" type="xs:boolean" use="optional" />
									<xs:attribute name="rewrite" use="optional">
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:enumeration value="RewriteRequest"/>
												<xs:enumeration value="TransferRequest"/>
												<xs:enumeration value="None"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="observedExtensions" type="xs:string" use="optional" />
									<xs:attribute name="observeEmptyExtension" type="xs:boolean" use="optional" />
									<xs:attribute name="ignoreExistingFiles" type="xs:boolean" use="optional" />
								</xs:complexType>
							</xs:element>
							<xs:element name="outputCache" minOccurs="0">
								<xs:complexType>
									<xs:attribute name="enabled" type="xs:boolean" use="optional" />
									<xs:attribute name="duration" type="xs:integer" use="optional" />
									<xs:attribute name="varyByParam" type="xs:string" use="optional" />
									<xs:attribute name="cacheProfile" type="xs:boolean" use="optional" />
								</xs:complexType>
							</xs:element>
						</xs:all>
						<xs:attribute name="rootID" type="xs:integer" use="optional" />
						<xs:attribute name="startPageID" type="xs:integer" use="optional" />
						<xs:attribute name="multipleSites" type="xs:boolean" use="optional" />
						<xs:attribute name="wildcards" type="xs:boolean" use="optional" />
						<xs:attribute name="configSource" type="xs:string" use="optional" />
					</xs:complexType>
				</xs:element>
				<xs:element name="engine">
					<xs:complexType>
						<xs:all>
							<xs:element name="assemblies" minOccurs="0">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="add" maxOccurs="unbounded">
											<xs:complexType>
												<xs:attribute name="assembly" type="xs:string" use="required" />
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="globalization" minOccurs="0">
								<xs:complexType>
									<xs:attribute name="enabled" type="xs:boolean" use="optional" />
									<xs:attribute name="autoDeleteTranslations" type="xs:boolean" use="optional" />
								</xs:complexType>
							</xs:element>
							<xs:element name="errors" minOccurs="0">
								<xs:complexType>
									<xs:attribute name="action" type="xs:string" use="optional" />
									<xs:attribute name="mailTo" type="xs:string" use="optional" />
									<xs:attribute name="mailFrom" type="xs:string" use="optional" />
									<xs:attribute name="maxErrorReportsPerHour" type="xs:integer" use="optional" />
									<xs:attribute name="handleWrongClassException" type="xs:boolean" use="optional" />
								</xs:complexType>
							</xs:element>
							<xs:element name="scheduler" minOccurs="0">
								<xs:complexType>
									<xs:attribute name="enabled" type="xs:boolean" use="optional" />
									<xs:attribute name="interval" type="xs:integer" use="optional" />
									<xs:attribute name="keepAlive" type="xs:boolean" use="optional" />
									<xs:attribute name="keepAlivePath" type="xs:string" use="optional" />
								</xs:complexType>
							</xs:element>
							<xs:element name="components" minOccurs="0">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="add" maxOccurs="unbounded">
											<xs:complexType>
												<xs:attribute name="service" type="xs:string" use="required" />
												<xs:attribute name="implementation" type="xs:string" use="required" />
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="pluginInitializers" minOccurs="0">
								<xs:complexType>
									<xs:sequence>
										<xs:element maxOccurs="unbounded" name="remove">
											<xs:complexType>
												<xs:attribute name="name" type="xs:string" use="optional" />
												<xs:attribute name="type" type="xs:string" use="optional" />
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="interfacePlugins" minOccurs="0">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="remove">
											<xs:complexType>
												<xs:attribute name="name" type="xs:string" use="required" />
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="definitions" minOccurs="0">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="remove" minOccurs="0" type="tns:namedElement" />
										<xs:element name="add" minOccurs="0">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="editables" minOccurs="0">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="remove" minOccurs="0" type="tns:namedElement" />
																<xs:element name="add" minOccurs="0" type="tns:containableElement" />
															</xs:sequence>
														</xs:complexType>
													</xs:element>
													<xs:element name="containers" minOccurs="0">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="remove" minOccurs="0" type="tns:namedElement" />
																<xs:element name="add" minOccurs="0" type="tns:containableElement" />
															</xs:sequence>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
												<xs:attribute name="name" type="xs:string" use="required" />
												<xs:attribute name="type" type="xs:string" />
												<xs:attribute name="title" type="xs:string" />
												<xs:attribute name="sortOrder" type="xs:int" />
												<xs:attribute name="toolTip" type="xs:string" />
												<xs:attribute name="description" type="xs:string" />
												<xs:attribute name="engineType" type="xs:string" />
												<xs:attribute name="dynamicDiscovery" type="xs:boolean" />
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:all>
						<xs:attribute name="castleConfiguration" type="xs:string" use="optional" />
						<xs:attribute name="multipleSitesConfiguration" type="xs:string" use="optional" />
						<xs:attribute name="dynamicDiscovery" type="xs:boolean" use="optional" />
						<xs:attribute name="castleSection" type="xs:string" use="optional" />
						<xs:attribute name="engineType" type="xs:string" use="optional" />
						<xs:attribute name="configSource" type="xs:string" use="optional" />
					</xs:complexType>
				</xs:element>
				<xs:element name="database">
					<xs:complexType>
						<xs:all>
							<xs:element name="hibernateProperties" minOccurs="0">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="add" maxOccurs="unbounded">
											<xs:complexType>
												<xs:attribute name="name" type="xs:string" use="required" />
												<xs:attribute name="value" type="xs:string" use="required" />
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:all>
						<xs:attribute name="caching" type="xs:boolean" use="optional" />
						<xs:attribute name="tryLocatingHbmResources" type="xs:boolean" use="optional" />
						<xs:attribute name="cacheProviderClass" type="xs:string" use="optional" />
						<xs:attribute name="connectionStringName" type="xs:string" use="optional" />
						<xs:attribute name="flavour" use="required">
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="SqlServer2008"/>
									<xs:enumeration value="SqlServer2005"/>
									<xs:enumeration value="SqlServer2000"/>
									<xs:enumeration value="SqlCe"/>
									<xs:enumeration value="MySql"/>
									<xs:enumeration value="SqLite"/>
									<xs:enumeration value="Firebird"/>
									<xs:enumeration value="Generic"/>
									<xs:enumeration value="Jet"/>
									<xs:enumeration value="DB2"/>
									<xs:enumeration value="Oracle9i"/>
									<xs:enumeration value="Oracle10g"/>
									<xs:enumeration value="AutoDetect"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:attribute>
						<xs:attribute name="hibernateMapping" type="xs:string" use="optional" />
						<xs:attribute name="configSource" type="xs:string" use="optional" />
						<xs:attribute name="batchSize" type="xs:int" use="optional" default="25" />
					</xs:complexType>
				</xs:element>
				<xs:element name="edit">
					<xs:complexType>
						<xs:all>
							<xs:element name="installer" minOccurs="0">
								<xs:complexType>
									<xs:attribute name="checkInstallationStatus" type="xs:boolean" use="optional" />
									<xs:attribute name="installUrl" type="xs:string" use="optional" />
								</xs:complexType>
							</xs:element>
							<xs:element name="writers" minOccurs="0" type="tns:permissionElement" />
							<xs:element name="editors" minOccurs="0" type="tns:permissionElement" />
							<xs:element name="administrators" minOccurs="0" type="tns:permissionElement" />
							<xs:element name="uploadFolders" minOccurs="0">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="clear" minOccurs="0" maxOccurs="1"/>
										<xs:element name="remove" minOccurs="0" maxOccurs="unbounded">
											<xs:complexType>
												<xs:attribute name="path" type="xs:string" use="required"/>
											</xs:complexType>
										</xs:element>
										<xs:element name="add" minOccurs="0" maxOccurs="unbounded">
											<xs:complexType>
												<xs:attribute name="path" type="xs:string" use="required" />
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="tinyMCE" minOccurs="0">
								<xs:complexType>
									<xs:all>
										<xs:element name="settings">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="clear" minOccurs="0" maxOccurs="1"/>
													<xs:element name="remove" minOccurs="0" maxOccurs="unbounded">
														<xs:complexType>
															<xs:attribute name="key" type="xs:string" use="required"/>
														</xs:complexType>
													</xs:element>
													<xs:element name="add" minOccurs="0" maxOccurs="unbounded">
														<xs:complexType>
															<xs:attribute name="key" type="xs:string" use="required" />
															<xs:attribute name="value" type="xs:string" use="required" />
														</xs:complexType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:all>
									<xs:attribute name="enabled" type="xs:boolean" use="optional" />
									<xs:attribute name="cssUrl" type="xs:string" use="optional" />
								</xs:complexType>
							</xs:element>
							<xs:element name="nameEditor" minOccurs="0">
								<xs:complexType>
									<xs:all>
										<xs:element name="replacements">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="clear" minOccurs="0" maxOccurs="1"/>
													<xs:element name="remove" minOccurs="0" maxOccurs="unbounded" type="tns:namedElement"/>
													<xs:element name="add" minOccurs="0" maxOccurs="unbounded">
														<xs:complexType>
															<xs:attribute name="name" type="xs:string" use="required" />
															<xs:attribute name="pattern" type="xs:string" use="required" />
															<xs:attribute name="value" type="xs:string" use="required" />
															<xs:attribute name="serverValidate" type="xs:boolean" use="optional" />
														</xs:complexType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:all>
									<xs:attribute name="whitespaceReplacement" type="xs:string" use="optional" />
									<xs:attribute name="toLower" type="xs:boolean" use="optional" />
									<xs:attribute name="showKeepUpdated" type="xs:boolean" use="optional" />
								</xs:complexType>
							</xs:element>
							<xs:element name="defaultDirectory" minOccurs="0">
								<xs:complexType>
									<xs:attribute name="mode" use="optional" default="RecursiveNames">
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:enumeration value="UploadFolder"/>
												<xs:enumeration value="RecursiveNames"/>
												<xs:enumeration value="RecursiveNamesFromParent"/>
												<xs:enumeration value="NodeName"/>
												<xs:enumeration value="TopNodeName"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="rootPath" type="xs:string" use="optional" />
								</xs:complexType>
							</xs:element>
							<xs:element name="versions" minOccurs="0">
								<xs:complexType>
									<xs:attribute name="enabled" type="xs:boolean" use="optional" />
									<xs:attribute name="maximumPerItem" type="xs:int" default="100" />
								</xs:complexType>
							</xs:element>
							<xs:element name="fileSystem" minOccurs="0">
								<xs:complexType>
									<xs:attribute name="textFileExtensions" type="xs:string" use="optional" default=".cs,.vb,.js,.html,.htm,.xml,.aspx,.ascx,.ashx,.php,.txt" />
								</xs:complexType>
							</xs:element>
							<xs:element name="images" minOccurs="0">
								<xs:complexType>
									<xs:all>
										<xs:element name="sizes" minOccurs="0">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="clear" minOccurs="0" maxOccurs="1"/>
													<xs:element name="remove" minOccurs="0" maxOccurs="unbounded">
														<xs:complexType>
															<xs:attribute name="name" type="xs:string" use="required"/>
														</xs:complexType>
													</xs:element>
													<xs:element name="add" minOccurs="0" maxOccurs="unbounded">
														<xs:complexType>
															<xs:attribute name="name" type="xs:string" use="required" />
															<xs:attribute name="width" type="xs:int" use="required" />
															<xs:attribute name="height" type="xs:int" use="required" />
															<xs:attribute name="replace" type="xs:boolean"/>
															<xs:attribute name="resizeOnUpload" type="xs:boolean"/>
															<xs:attribute name="mode">
																<xs:simpleType>
																	<xs:restriction base="xs:string">
																		<xs:enumeration value="Fit"/>
																		<xs:enumeration value="Fill"/>
																		<xs:enumeration value="Stretch"/>
																	</xs:restriction>
																</xs:simpleType>
															</xs:attribute>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:all>
									<xs:attribute name="resizedExtensions" type="xs:string" use="optional" default=".jpg,.jpeg" />
									<xs:attribute name="resizeUploadedImages" type="xs:boolean" use="optional" default="true" />
								</xs:complexType>
							</xs:element>
						</xs:all>
						<xs:attribute name="theme" type="xs:string" use="optional" />
						<xs:attribute name="editTreeUrl" type="xs:string" use="optional" />
						<xs:attribute name="editPreviewUrlFormat" type="xs:string" use="optional" />
						<xs:attribute name="uploadFolderUrl" type="xs:string" use="optional" />
						<xs:attribute name="editItemUrl" type="xs:string" use="optional" />
						<xs:attribute name="editInterfaceUrl" type="xs:string" use="optional" />
						<xs:attribute name="newItemUrl" type="xs:string" use="optional" />
						<xs:attribute name="deleteItemUrl" type="xs:string" use="optional" />
						<xs:attribute name="configSource" type="xs:string" use="optional" />
					</xs:complexType>
				</xs:element>
				<xs:element name="templates">
					<xs:complexType>
						<xs:attribute name="mailConfiguration" type="xs:string" use="optional" />
						<xs:attribute name="masterPageFile" type="xs:string" use="optional" />
						<xs:attribute name="imageHandlerPath" type="xs:string" use="optional" />
					</xs:complexType>
				</xs:element>
			</xs:all>
		</xs:complexType>
	</xs:element>
</xs:schema>